@{
    ViewData["Title"] = "О сайте";
}
<h1>@ViewData["Title"]</h1>

<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h3 class="featurette-heading">Авторы <span class="text-muted">сайта.</span></h3>
        <p class="lead">Даный сайт (web-приложение) разработан студентами СибГУТИ (Балханаковым Владимиров и Поляковой Ангелиной) в рамках предмета "Разработка и ормление веб-структур"</p>
        <p class="lead">Балханаков Владимир - Junior Fullstack-разработчик в "Лаборатории БПМ".</p>
        <p class="lead">Полякова Ангелина - Junior SEO-специалист в компаниии "SEOlead".</p>
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Технологии<span class="text-muted"> разработки.</span></h2>
        <p class="lead">Сайт написан на технологиях .NET 6. Интерфейс реализован с помощью Razor-разметки.</p>
    </div>
</div>

<hr class="featurette-divider">
