@{
    ViewData["Title"] = "Home Page";
}

<div class="row text-center">
    <div class="col align-self-center">
        <h1 style="font-size: 65px; margin: 0 0 45px 0;">КУРСЫ ВАЛЮТ ЦБ РФ</h1>
    </div>
</div>

<div class="container marketing">

    <div class="row">
        <div class="col-lg-4 text-center">
            <img src="~/img/handshake.svg" height=130 width=130 />
            <h2>Простота</h2>
            <p>Понятный пользовательский интерфейс.</p>
        </div>

        <div class="col-lg-4 text-center">
            <img src="~/img/coins.svg" height=130 width=130 />
            <h2>Удобство</h2>
            <p>Доступность с любого устройства.</p>
        </div>

        <div class="col-lg-4 text-center">
            <img src="~/img/piggy-bank.svg" height=130 width=130 />
            <h2>Актуальность</h2>
            <p>Свежая информация от ЦБ РФ.</p>
        </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Самая свежая информация <span class="text-muted">от ЦБ РФ.</span></h2>
            <p class="lead">Получите самую свежую информацию о валютах на данный момент. Сайт предоставляет сводку курсов инфостранных валют относительно российского рубля.</p>
        </div>
        <div class="col-md-5">
            <img src="/img/CBRF.png" height=300 />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Всегда под рукой. <span class="text-muted">Доступно с любого устройства.</span></h2>
            <p class="lead">Будьте всегда в курсе событий валютного рынка. Следите за курсом с любого браузера под управлением любой операционной системы.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="/img/celio_redfly.jpg" height=300 />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Удобный интерфейс<span class="text-muted"> для всего.</span></h2>
            <p class="lead">Продуманный дизайн приложения, которым удобно пользоваться как на компьютере, так и на телефоне!</p>
        </div>
        <div class="col-md-5">
            <img src="/img/phone_Arm.jpg" width=300 />
        </div>
    </div>

    <hr class="featurette-divider">
</div>